<div style="margin-right: auto; margin-left: auto; width: 95%;">
    <h1>Contact</h1>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae aspernatur amet atque esse inventore pariatur? Inventore voluptatem, accusantium, architecto sit reiciendis cum quo blanditiis dolore dolorem deleniti omnis maiores?</p>
</div>
    <form style="background-color: rgb(235, 232, 232); height: 300px; width: 70%; margin-right: auto; margin-left: auto; border-color: lightslategrey; border-radius: 10px;" >
        <div class="form-group" style="padding-top: 20px;">
          <label for="exampleFormControlInput1" style="margin-left: 10px;"><strong>Email address</strong></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Write your email here" style="width: 75%; float:right; margin-right: 10px;">
        </div>

        
<div class="form-group" style="padding-top: 20px;">
<label for="exampleFormControlTextarea1"; style= "margin-left: 10px; height: 100%;" ><strong>Message</strong></label>
<textarea class="form-control" placeholder="Please enter your Message here..." id="exampleFormControlTextarea1" rows="5" style="width: 75%; float:right; margin-right: 10px;"></textarea>
</div>
<div>
<input class="btn btn-primary" type="submit" value="Submit" style="float:right; overflow: hidden; width: 20%; margin-top: 10px; margin-right: 10px; margin-left: 70%;" >
</div></div>
</form>