   
 <div class="row row-cols-1 row-cols-md-3" style="margin: 5%;">
    <H1>Portfolio</H1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur excepturi alias dolorem? Illum error, ipsam voluptatem unde, at dolorum itaque totam nisi laboriosam quibusdam ipsa aliquid, eum quis illo qui!</P>
    <div class="col mb-4">
      <div class="card">
        <img src="C:\Users\mvillela\Desktop\PROGRAMACIÓN\VB\PAGINA COMPARTIDA\website1\assets\img\big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: lightblue;">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ullam ratione suscipit unde illum molestiae facilis odio ab sed repellat totam vel sint numquam, dolore autem accusamus ipsam minus cupiditate!</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src=".\assets\img\big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: lightblue;">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae rem excepturi quae a fuga dolorem tempore ullam sint, eligendi impedit vitae, repudiandae, soluta iusto ut! Quam laboriosam laudantium explicabo officiis.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="C:\Users\mvillela\Desktop\PROGRAMACIÓN\VB\PAGINA COMPARTIDA\website1\assets\img\big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: lightblue;">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error dolorum, sit rem magni exercitationem velit nulla voluptates, natus quaerat blanditiis hic fugit odit omnis ipsa! Nisi dicta dignissimos culpa quisquam?</p>
        </div>
      </div>
    </div>